#!/usr/bin/make -f
CMAKE_BUILD_TYPE=$(Release)
# toolchain and stage2 tests are currently failing so can't just run "zig build test"
# Have asked about it on zig IRC
TESTS = fmt behavior compiler-rt minilibc compare-output standalone stack-traces cli asm-link runtime-safety translate-c run-translated-c std

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	\rm -rf zig-cache

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	$(foreach t,$(TESTS),./debian/zig/usr/bin/zig build test-$(t) || exit 1;)
endif
