#!/usr/bin/make -f
include /usr/share/dpkg/architecture.mk

# Can't just run "zig build test" because test-std fails
TESTS = fmt behavior compiler-rt minilibc compare-output standalone stack-traces cli asm-link runtime-safety translate-c run-translated-c toolchain stage2

%:
	dh $@

#override_dh_auto_test:
#	XDG_CACHE_HOME= ./obj-$(DEB_HOST_MULTIARCH)/zig build test

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	$(foreach t,$(TESTS),XDG_CACHE_HOME= ./obj-$(DEB_HOST_MULTIARCH)/zig build test-$(t) || exit 1 ;)
endif
